# Dev-залежності для підтримки якості коду:

black==25.1.0          # автоформатер коду
flake8==7.3.0          # лінтер, перевірка стилю коду
mccabe==0.7.0          # плагін до flake8 для оцінки складності коду
mypy_extensions==1.1.0 # типізація для mypy (статичний аналіз)
packaging==25.0        # допоміжна бібліотека для dev-інструментів
pathspec==0.12.1       # робота з конфігураціями (git, тести, інше)
platformdirs==4.3.8    # кешування, може використовуватись і в runtime
pycodestyle==2.14.0    # перевірка стилю коду (dev)
pyflakes==3.4.0        # статичний аналіз коду (dev)

# Для встановлення всіх dev-залежностей виконайте в терміналі:
# pip install -r requirements-dev.txt
