# Runtime-залежності (потрібні під час виконання):

colorama==0.4.6         # для кольорового виводу в терміналі
click==8.2.1            # CLI-інтерфейс (може бути runtime або dev, залежно від використання)
tabulate==0.9.0         # для гарного форматування таблиць у виводі

# Для встановлення залежностей виконайте в терміналі:
# pip install -r requirements.txt
